# Gradle
.gradle/
build/
**/build/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Bubblewrap caches
.bubblewrap/

# Keystore (⚠️ muy importante: nunca subirlo)
*.keystore
*.jks

# Android Studio
captures/
.externalNativeBuild/
.cxx/
local.properties

# APK / AAB / outputs
*.apk
*.ap_ 
*.aab
outputs/

# Misc
gen/
bin/
node_modules

# Local Netlify folder
.netlify
